pre
    background #222
    width 100%
    padding rem(20px) 0
    color sec
    margin rem(30px) 0
    font-size rem(14px)
    +above(cut)
        font-size rem(16px)
        padding rem(40px) 0
        margin rem(50px) 0
    code
        position relative
        center(rem(800))
        padding 0 rem(20px)
        +below(cut)
            overflow-x: scroll;
        a.vglnk
            color #66d9ef
        &[data-lang]:after
            content: attr(data-lang)
            position absolute
            top rem(40px) * -1
            right 0
            color #fff
            text-align right
            font-size rem(11px)
            font-weight 700
            letter-spacing rem(1px)
            background #9b9b9b
            padding rem(2px) rem(7px)
            line-height 1.5rem
            height 1.5rem
            border-radius 0 0 rem(5px) rem(5px)
        &[data-lang=html]:after,
        &[data-lang=ejs]:after,
        &[data-lang=jade]:after,
        &[data-lang=pug]:after
            background #f2793d
        &[data-lang=vue]:after
            background #47b784
        &[data-lang=css]:after
            background #1790d2
        &[data-lang=sass]:after,
        &[data-lang=scss]:after
            background #cd669a
        &[data-lang=javascript]:after
            background #f6dd3b
            color #34495e
        &[data-lang=bash]:after,
        &[data-lang=shell]:after
            background #282b2e
            color #20cf24
        &[data-lang=python]:after
            background #376d9b
            color #fce16c
        &[data-lang=ruby]:after
            background #CC342D
            color #fff
    span
        line-height 1.5rem
        font-family 'Monaco','Consolas','Menlo',monospace

.highlight
    margin 0
    +above(cut)
        word-wrap break-word
    .hll
        background-color #333
    .c,     // Comment
    .cm,    // Comment.Multiline
    .cp,    // Comment.Preproc
    .c1,    // Comment.Single
    .cs     // Comment.Special
        color #75715e
        
    // Error 
    .err      
        color #960050
        background-color #1e0010

    .k,     // Keyword
    .kc,    // Keyword.Constant
    .kd,    // Keyword.Declaration
    .kp,    // Keyword.Pseudo
    .kr,    // Keyword.Reserved
    .kt,    // Keyword.Type
    .no     // Name.Constant
        color #66d9ef

    .l,     // Literal 
    .mf,    // Literal.Number.Float
    .mh,    // Literal.Number.Hex
    .mi,    // Literal.Number.Integer
    .mo,    // Literal.Number.Oct
    .se,    // Literal.String.Escape
    .il     // Literal.Number.Integer.Long
        color #ae81ff
        
    .o,     // Operator
    .p      // Punctuation
        color #f7f7f2

    .m,     // Literal.Number
    .n,     // Name
    .nb,    // Name.Builtin
    .ni,    // Name.Entity
    .nl,    // Name.Label
    .nn,    // Name.Namespace
    .py,    // Name.Property
    .nv,    // Name.Variable
    .w,     // Text.Whitespace
    .bp,    // Name.Builtin.Pseudo
    .vc,    // Name.Variable.Class
    .vg,    // Name.Variable.Global
    .vi     // Name.Variable.Instance
        color #a4d043

    .kn,    // Keyword.Namespace
    .nt,    // Name.Tag
    .ow     // Operator.Word
        color #f92672

    .ge     // Generic.Emph
        font-style italic

    .gs     // Generic.Strong
        font-weight bold

    .ld,    // Literal.Date
    .s,     // Literal.String
    .sb,    // Literal.String.Backtick
    .sc,    // Literal.String.Char
    .sd,    // Literal.String.Doc
    .s2,    // Literal.String.Double
    .sh,    // Literal.String.Heredoc
    .si,    // Literal.String.Interpol
    .sx,    // Literal.String.Other
    .sr,    // Literal.String.Regex
    .s1,    // Literal.String.Single
    .ss     // Literal.String.Symbol
        color #e6db74

    .na,    // Name.Attribute
    .nc,    // Name.Class
    .nd,    // Name.Decorator
    .ne,    // Name.Exception
    .nf,    // Name.Function
    .nx     // Name.Other
        color #a6e22e